#root {
  height: 100vh !important;
}

.logo {
  width: 75px;
  height: 75px;
}

footer {
  background: #f2f2f6;
  font-family: 'Akaya Kanadaka', cursive;
  font-family: 'Merriweather', serif;
  font-family: 'Oswald', sans-serif;
}

.Main-Page {
  background-image: url('./assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Thasadith', sans-serif;
  font-weight: 800;
  font-size: 1.1rem;
}

.bold {
  font-size: 1.3rem;
  font-weight: 900;
}

.my-image {
  width: 300px;
  max-height: 300px;
}

.my-image-2 {
  width:150px;
  height:150px;
}

h3 {
  font-size: 1.2rem !important;
}
