.logo {
  width: 75px;
  height: 75px;
}

footer {
  background: black;
  font-family: 'Akaya Kanadaka', cursive;
  font-family: 'Merriweather', serif;
  font-family: 'Oswald', sans-serif;
}

.Main-Page {
  background-image: url('./assets/images/background.jpg');
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 1.1rem;
}

.my-navbar {
  background: black;
}
